[Unit]
Description=Setup Services for Crawl Stock
After=network.target docker.service

[Service]
Type=oneshot
WorkingDirectory=/media/mix060514/EE9E67E99E67A933/pj/finmind
ExecStart=/bin/bash /media/mix060514/EE9E67E99E67A933/pj/finmind/crawl_stock_setup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
