[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
requests = "*"
pydantic = "*"
loguru = "*"
financialdata = {file = ".", editable = true}
sqlalchemy = "*"
tqdm = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.13"
